body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.DesktopIcon:hover {
  background-color: #fff4;
  outline: 1px solid #fff7;
}

.WindowsButton:hover {
  color: cyan;
  background-color: #fffa;
}
